<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    {% include "dependencies.html" %}
</head>
<body>
{# navbar #}
{% include "navbar.html" %}
{# content #}
<div class="row justify-content-center" id="content">
    <div class="col-4 mb-4">
        <h3 class="my-5 text-center">Articles</h3>
        <div class="d-grid gap-2-auto">
            <div class="row">
                <h6 class="col-10 mt-2">Body Language Around the World</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" id="article1" href="https://nacada.ksu.edu/Resources/Clearinghouse/View-Articles/Body-Language-Around-the-World.aspx"><b>Visit</b></a>
            </div>
            <hr>
            <div class="row">
                <h6 class="col-10 mt-2">Your Body Language Speaks for You in Meetings</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" id="article2" href="https://hbr.org/2012/09/your-body-language-speaks-for"><b>Visit</b></a>
            </div>
            <hr>
            <div class="row">
                <h6 class="col-10 mt-2">4 Types of Body Language & What They Say About You</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" id="article3" href="https://my.liveyourtruth.com/dyt/what-your-body-language-says-about-you/#:~:text=All%20people%20express%20their%20body,a%20precise%20and%20bold%20movement."><b>Visit</b></a>
            </div>
            <hr>
            <div class="row">
                <h6 class="col-10 mt-2">The Importance of Body Language Analysis</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" id="article4" href="https://www.mindtools.com/pages/article/Body_Language.htm"><b>Visit</b></a>
            </div>
        </div>
    </div>
</div>
{# footer #}
{% include "footer.html" %}
</body>
</html>