<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Body Parts</title>
    {% include "dependencies.html" %}
</head>
<body>
{# navbar #}
{% include "navbar.html" %}
{# content #}
<div class="row justify-content-center" id="content">
    <div class="col-4 mb-4">
        <h3 class="my-5 text-center">Gestures by body parts</h3>
        <div class="d-grid gap-2-auto">
            <h5 class="my-2">Eyes</h5>
            <div class="d-grid gap-2-auto">
                {% for eye in eyes %}
                    <button class="my-2 btn btn-danger text-white" style="background-color: #006b8b"
                            onclick="toggleGesture('{{ eye.id }}')"><b>{{ eye.gesture }}</b></button>
                    <div id="{{ eye.id }}" style="display: none">
                        <div class="card my-4 mx-auto" style="width: 18rem;">
                            <img src="{{ MEDIA_URL }}{{ eye.image.url }}" class="card-img-top">
                            <div class="card-body">
                                <div class="row text-center">
                                    <h5 class="card-title col-10">{{ eye.gesture }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <h5 class="text-center">Meaning among adults: </h5>
                            <table class="table table-bordered text-center">
                                <tr>
                                    <th>Male</th>
                                    <th>Female</th>
                                </tr>
                                <tr>
                                    {% if  eye.adult and eye.male %}
                                        <td>
                                            {% for meaning in eye.meaning.all %}
                                                {{ meaning.meaning }}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                    {% if  eye.adult and eye.female %}
                                        <td>
                                            {% for meaning in eye.meaning.all %}
                                                {{ meaning.meaning }}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>

                        <div class="my-4">
                            <h5 class="text-center">Meaning among children: </h5>
                            <table class="table table-bordered text-center">
                                <tr>
                                    <th>Male</th>
                                    <th>Female</th>
                                </tr>
                                <tr>
                                    {% if  eye.adult and eye.male %}
                                        <td>
                                            {% for meaning in eye.meaning.all %}
                                                {{ meaning.meaning }}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                    {% if  eye.adult and eye.female %}
                                        <td>
                                            {% for meaning in eye.meaning.all %}
                                                {{ meaning.meaning }}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>

                    </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    {#        <div class="d-grid gap-2-auto">#}
    {#            <a class="my-2 btn btn-danger text-white" style="background-color: #006b8b" href="{% url "eyeace" %}"><b>Face</b></a>#}
    {#            <a class="my-2 btn btn-danger text-white" style="background-color: #006b8b"><b>Head</b></a>#}
    {#            <a class="my-2 btn btn-danger text-white" style="background-color: #006b8b"><b>Chest</b></a>#}
    {#            <a class="my-2 btn btn-danger text-white" style="background-color: #006b8b"><b>Arms</b></a>#}
    {#            <a class="my-2 btn btn-danger text-white" style="background-color: #006b8b"><b>Legs</b></a>#}
    {#        </div>#}
</div>
</div>
{# footer #}
{% include "footer.html" %}
<script>
    function toggleGesture(gesture) {
        let x = document.getElementById(gesture);
        if (x.style.display === "none")
            x.style.display = "block";
        else
            x.style.display = "none";
    }
</script>
</body>
</html>