<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
{# header #}
<nav class="row justify-content-center navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid col-4">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "index" %}">Home</a>
        </div>
        <ul class="nav navbar-nav d-flex">
            <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "help" %}">Help</a></li>
        </ul>
    </div>
</nav>
<div class="row justify-content-center">
    <div class="col-4 mb-4">
        <h3 class="my-5 text-center">Face</h3>
        <div class="d-grid gap-2-auto justify-content-center">
            {% for bp_f in bp_face %}
                <button class="my-2 btn btn-danger text-white" style="background-color: #006b8b" onclick="myFunction('{{ bp_f.id }}')"><b>{{ bp_f.gesture }}</b></button>
                <div id="{{ bp_f.id }}" style="display: none">
                    <div class="card my-4" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}{{ bp_f.image.url }}" class="card-img-top">
                        <div class="card-body">
                            <div class="row text-center">
                                <h5 class="card-title col-10">{{ bp_f.gesture }}</h5>
                                {% if not bp_f.read %} {# ako ne e prochitana lekcijata #}
{#                                    sredi go id-to da bide razlichno za sekoe#}
{#                                    <form method="post" id="{{ bp_f.id }}form">#}
{#                                        {% csrf_token %}#}
                                        <button {# type="submit" #} class="btn col-2 p-0" id="{{ bp_f.id }}read" onclick="read('{{ bp_f.id }}read')">☑</button>
{#                                    </form>#}
                                {% endif %}
                                {% if bp_f.read %} {# ako e prochitana lekcijata #}
{#                                    <form method="post" id="{{ bp_f.id }}form">#}
{#                                        {% csrf_token %}#}
                                        <button {# type="submit" #} class="btn col-2 p-0" id="{{ bp_f.id }}read" onclick="read('{{ bp_f.id }}read' {# kako argumenti sakam da gi pratam i read value i id na formata #})">✅</button>
{#                                    </form>#}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <h5>Meaning among adults: </h5>
                        <table class="table table-bordered text-center">
                        <tr>
                            <th>Male</th>
                            <th>Female</th>
                        </tr>
                        <tr>
                            {% if  bp_f.adult and bp_f.male%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                            {% if  bp_f.adult and bp_f.female%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                        </table>
                    </div>

                    <div class="my-4">
                        <h5>Meaning among children: </h5>
                        <table class="table table-bordered text-center">
                        <tr>
                            <th>Male</th>
                            <th>Female</th>
                        </tr>
                        <tr>
                            {% if  bp_f.adult and bp_f.male%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                            {% if  bp_f.adult and bp_f.female%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                        </table>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{# footer #}
<footer class="row justify-content-center bg-light fixed-bottom">
    <div class="col-4 bg-light">
        <div class="row justify-content-center">
            <a class="btn col-2 m-2 shadow" href="{% url "tips" %}"><h2>💡</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "articles" %}"><h2>🌐</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "categories" %}"><h2>📖</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "quizzes" %}"><h2>📝</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "progress" %}"><h2>📈</h2></a>
        </div>
    </div>
</footer>

<script>
    function myFunction(gesture) {
      let x = document.getElementById(gesture);
      if (x.style.display === "none")
        x.style.display = "block";
      else
        x.style.display = "none";
    }

    {# neka prima dva argumenti, read atributot mi treba #}
{#    funkcijava kje ja smenime so jquery, kopcheto kje go izgenerirame tuka vo zavisnost od vrednosta na read na prateniot element od gore #}

    let points = 0;

    function read(id)
    {
        if (document.getElementById(id).innerHTML === "✅")
        {
            document.getElementById(id).innerHTML = "☑";
            points++; // ako e prochitana dodavame poeni

{#            kje treba kopcheto da ja zadrzhi sostojbata vo zavisnost od korisnikot#}
{#            da napravime edna hidden forma koja kje gi prima poenite od tekovnata sesija i kje gi dodade preku view vo modelot za poeni #}
{#            {% for bp_f in bp_face %}#}
{#                {% if bp_f.read == state %}#}
{#                    {{ bp_f.read }}#}
{#                {% endif %}#}
{#            {% endfor %}#}

        }
        else
        {
            // odzemame poeni ako se trgne od prochitana
            points--;
            document.getElementById(id).innerHTML = "✅";
        }
        {##}
        {#document.getElementById("forma").innerHTML = "<input type='hidden' name='lat' value="+lat+">" +#}
        {#"<input type='hidden' name='lon' value="+lon+">"#}
        {##}
        {#return points;#}
    }

    // points treba da gi predademe preku hidden form. Mozhe da gi pratime kako rezultat na nekoja funkcija u html i preku html da gi pratime u formata

    {#function getPoints()#}
    {#{#}
    {#   return points;    }#}

</script>
</body>
</html>