<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
{# header #}
<nav class="row justify-content-center navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid col-4">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "index" %}">Home</a>
        </div>
        <ul class="nav navbar-nav d-flex">
            <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "help" %}">Help</a></li>
        </ul>
    </div>
</nav>
<div class="row justify-content-center">
    <div class="col-4 mb-4">
        <h3 class="my-5 text-center">Face</h3>
        <div class="d-grid gap-2-auto justify-content-center">
            {% for bp_f in bp_face %}
                <button class="my-2 btn btn-danger text-white" style="background-color: #006b8b" onclick="myFunction('{{ bp_f.gesture }}')"><b>{{ bp_f.gesture }}</b></button>
                <div id="{{ bp_f.gesture }}" style="display: none">
                    <div class="card my-4" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}{{ bp_f.image.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ bp_f.gesture }}</h5>
                        </div>
                    </div>
                    <div class="my-4">
                        <h5>Meaning among adults: </h5>
                        <table class="table table-bordered text-center">
                        <tr>
                            <th>Male</th>
                            <th>Female</th>
                        </tr>
                        <tr>
                            {% if  bp_f.adult and bp_f.male%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                            {% if  bp_f.adult and bp_f.female%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                        </table>
                    </div>

                    <div class="my-4">
                        <h5>Meaning among children: </h5>
                        <table class="table table-bordered text-center">
                        <tr>
                            <th>Male</th>
                            <th>Female</th>
                        </tr>
                        <tr>
                            {% if  bp_f.adult and bp_f.male%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                            {% if  bp_f.adult and bp_f.female%}
                                <td>
                                {% for meaning in bp_f.meaning.all %}
                                    {{ meaning.meaning }}
                                    <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                        </table>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{# footer #}
<footer class="row justify-content-center bg-light">
    <div class="col-4 bg-light">
        <div class="row justify-content-center">
            <a class="btn col-2 m-2 shadow" href="{% url "tips" %}"><h2>💡</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "articles" %}"><h2>🌐</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "categories" %}"><h2>📖</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "quizzes" %}"><h2>📝</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "progress" %}"><h2>📈</h2></a>
        </div>
    </div>
</footer>
<script>
    function myFunction(gesture) {
      let x = document.getElementById(gesture);
      if (x.style.display === "none")
        x.style.display = "block";
      else
        x.style.display = "none";
    }
</script>
</body>
</html>