<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% include "dependencies.html" %}
</head>
<body>
{# navbar #}
{% include "navbar.html" %}
{# content #}
<div class="row justify-content-center" id="content">
    <div class="col-4">
        <h3 class="m-5 text-center">Contact us</h3>
        <div class="row my-4">
            <img class="col-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Woman_1.jpg/330px-Woman_1.jpg">
            <div class="col-6">
                <h5 class="my-4">Contact person</h5>
                <p>Name: <b style="color: #006b8b">Jane Doe</b></p>
                <p>E-mail: <b style="color: #006b8b">janedoe@jane.com</b></p>
                <p>Phone: <b style="color: #006b8b">+389 70 070 070</b></p>
            </div>
        </div>
    </div>
</div>
{# footer #}
{% include "footer.html" %}
</body>
</html>