<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    {% include "dependencies.html" %}
</head>
<body>
{# navbar #}
{% include "navbar.html" %}
{# content #}
<div class="row justify-content-center mb-4" id="content">
    <div class="col-4">
        <h3 class="m-5 text-center">User quide</h3>
        <h4 class="m-4">💡 - Tips and Tricks section</h4>
        <p class="m-4">You can find some interesting tips and tricks on how to master your body language, as well as master reading others' body language.</p>
        <h4 class="m-4">🌐  - Articles section</h4>
        <p class="m-4">The articles section gathers interesting body language articles found across the web.</p>
        <h4 class="m-4">📖 - Learning section</h4>
        <p class="m-4">This is the main section of the application. For the best user experience, we divided the gestures by several categories. You can access each gesture by your category preference.</p>
        <p class="m-4">By tapping on ☑, you acknowledge that you have read the specific lecture. Once it turns ✅, you are good to go and can continue onto the next lecture.</p>
        <h4 class="m-4">📝 - Quiz section</h4>
        <p class="m-4">The quiz section consists of quizzes divided which are also divided by category. You have passed the course once you have completed >50% of all possible points.</p>
        <h4 class="m-4">📈 - Progress section</h4>
        <p class="m-4">You can easily track your progress in this section. Just tap on the icon to see how much of the topics you have covered, as well as how good is your overall score on the quizzes.</p>
    </div>
    </div>
</div>

{# footer #}
{% include "footer.html" %}
</body>
</html>