<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% include "dependencies.html" %}
</head>
<body>

{# navbar #}
{% include "navbar.html" %}
{# content #}
<section id="content" class="mb-4">
    <div class="row justify-content-center">
        <div class="col-4">
            <h3 class="my-5 text-center">Body Language App</h3>
            <p>Body Language App is a learning system which will teach you how to read and master body language. It is beneficial for users of all socioeconomic classes and ages, since as we grow older, we find ourselves in divergent situations and roles, whether it is partner/parent/student/employee/boss etc. Hence, it is important to know how to handle different situations with different circles of people. We hope you will find this application helpful and joyous to use. Happy learning !!! </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 mb-4">
            <h3 class="my-5 text-center">Introduction to Body Language</h3>
            <p>Body language is a type of communication in which physical behaviors, as opposed to words, are used to express or convey information. Such behavior includes facial expressions, body posture, gestures, eye movement, touch and the use of space. In this application we divide gestures by categories. </p>
        </div>
    </div>
</section>

{# footer#}
{% include "footer.html" %}
</body>
</html>