<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% include "dependencies.html" %}
</head>
<body>
{# navbar #}
{% include "navbar.html" %}
{#    content #}
<div class="row justify-content-center" id="content">
    <div class="text-center col-4 mb-4" style="background-color: #d2d2d2" role="alert">
        <h3 class="my-5">Welcome!</h3>
        <form class="m-5" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}" class="btn btn-danger">Register here</a></p>
    </div>
</div>
{# footer #}
{% include "footer.html" %}
</body>
</html>
