<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% include "dependencies.html" %}
</head>
<body>
{# header #}
<nav class="row justify-content-center navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid col-4">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "index" %}">Home</a>
        </div>
        <ul class="nav navbar-nav d-flex">
            <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "help" %}">Help</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Log out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{#    content #}
<div class="row justify-content-center" id="content">
    <div class="col-4 mb-4" style="background-color: #d2d2d2" role="alert">
        <h3 class="mt-5 text-center">Register here</h3>
        <hr>
        <form class="small m-4" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mb-4">
                <button type="submit" class="btn btn-danger my-2" id="register">Register</button>
            </div>
        </form>
    </div>
</div>
{# footer #}
{% include "footer.html" %}
</body>
</html>