<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips and Tricks</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
{# header #}
<nav class="row justify-content-center navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid col-4">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "index" %}">Home</a>
        </div>
        <ul class="nav navbar-nav d-flex">
            <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "help" %}">Help</a></li>
        </ul>
    </div>
</nav>
{# middle #}
<div class="row justify-content-center">
    <div class="col-4 mb-4">
        <h3 class="my-5 text-center">Tips and Tricks</h3>
        <div class="d-grid gap-2-auto">
            <div class="row">
                <h6 class="col-10 mt-2">How to Help Your Child Understand Body Language</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" href="https://www.understood.org/en/articles/at-a-glance-helping-your-child-understand-body-language"><b>Visit</b></a>
            </div>
            <hr>
            <div class="row">
                <h6 class="col-10 mt-2">How to Read Your Kid’s Body Language</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" href="https://www.sheknows.com/parenting/articles/1134683/read-kids-body-language/"><b>Visit</b></a>
            </div>
            <hr>
            <div class="row">
                <h6 class="col-10 mt-2">How to Tell If Someone Is Lying to You</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" href="https://time.com/5443204/signs-lying-body-language-experts/"><b>Visit</b></a>
            </div>
            <hr>
            <div class="row">
                <h6 class="col-10 mt-2">8 body language tricks to be more successful at work</h6>
                <a class="col-2 btn btn-danger btn-block text-white" style="background-color: #006b8b" href="https://www.cnbc.com/2017/05/05/8-body-language-tricks-to-be-more-successful-at-work.html"><b>Visit</b></a>
            </div>
        </div>
    </div>
</div>
{# footer #}
<footer class="row justify-content-center bg-light fixed-bottom">
    <div class="col-4 bg-light">
        <div class="row justify-content-center">
            <a class="btn col-2 m-2 shadow" href="{% url "tips" %}"><h2>💡</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "articles" %}"><h2>🌐</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "categories" %}"><h2>📖</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "quizzes" %}"><h2>📝</h2></a>
            <a class="btn col-2 m-2 shadow" href="{% url "progress" %}"><h2>📈</h2></a>
        </div>
    </div>
</footer>
</body>
</html>